<div class="product-list-container">
  <p>List of products</p>

  <ul class="product-list">  
      <li
        *ngFor="let product of products"
      >
        <app-product-card
          [product_id]       = "product.id"
          [product_name]     = "product.name"
          [product_category] = "product.category"
          [product_price]    = "product.price"
          [product_img_url]  = "product.image_url"
          
          (quantityChange) = "onQuantityChange($event)"
        />
      </li>  
    </ul>
</div>