.product-card{
  position: relative;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  width: 160px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px 16px;

  font-family: var(--text);

  font-family: var(--text);
}

p {
  margin: 0px;
}

.product-name{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  
  
}

.product-price{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

img {
  width: 90px;
  height: auto;
}

.quantity-controls{
  display: flex;
  gap: 8px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400px;
}

.quantity-controls input {
  width: 40px;
  height: 36px;
  border-radius: 6px;
  text-align: center;
  line-height: 20px;
  border: 1px solid var(--muted);
}

.in-cart{
  background-color: #E2FBE8;
  border-color: var(--primary);
}

.category-tag{
  position: absolute;
  top: 0px;
  right: 0px;

  border-radius: 0px var(--rounded-lg) 0px var(--rounded-lg);

  padding: 0px var(--spacing-2) 0px var(--spacing-2);

  background-color: var(--violet-100);

}