<section class="section shopping-cart">
  <div class="container">
    <div class="shopping-cart__header">
      <h1>Shopping Cart</h1>
      <p>
        Descripción: Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Nihil consequuntur a nostrum, facere quo ipsa harum obcaecati animi
        voluptas, architecto, quae doloremque velit amet expedita aliquam
        numquam minima alias.
      </p>
    </div>
    <div class="shopping-cart__demo">
      <app-product-list (orderChange)="onOrderChange($event)"/>
      <app-shopping-cart [order]="order"/>
    </div>
  </div>
</section>
