.counter {
  width: 381px;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4) var(--spacing-8);
  border-radius: var(--rounded-xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  gap: var(--spacing-8);
}

.counter__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.counter__title,
.counter__status {
  text-align: center;
  line-height: 1;
}

.counter__title {
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.counter__status {
  font-family: inter;
  font-weight: 800;
  font-size: 36px;
  color: var(--primary);
}

.counter__actions {
  display: flex;
  gap: var(--spacing-1);
}
