<div class="shopping-cart__content">
  <h1>Shopping Cart</h1>
  <div class="shopping-cart__content__summary">
    <ul>
      {{ noProduct() }}
      <li *ngIf="isDisabled" class="shopping-cart__content__empty">
        No products
      </li>
      <li
        class="shopping-cart__content__items"
        *ngFor="let item of order; trackBy: trackByProductId"
      >
        <p class="shopping-cart__content__product">
          {{ productsList[item.id - 1].name }}
          ($ {{ productsList[item.id - 1].price }} x {{ item.quantity }})
        </p>
        <p>
          $ {{ (productsList[item.id - 1].price * item.quantity).toFixed(1) }}
        </p>
      </li>
    </ul>
    <div class="shopping-cart__content__total">
      <h4>Total</h4>
      <p>$ {{ calculateTotal() }}</p>
    </div>
  </div>
  <button class="button" [disabled]="isDisabled">Submit Your Order</button>
</div>
