<div class="project">
  <div class="project__header">
    <h1 class="project__title">Angular Components</h1>
    <h3 class="project__team">
      Team 01: Claudia Berrios, Emerson Perales, Jaime Enriquez, Paty Apaestegui
    </h3>
  </div>

  <div class="project__component">
    <div class="project__component-description container">
      <h2 class="project__component-title">Counter</h2>
      <p class="project__component-text">
        Descripción: Este componente interactivo nos permite modificar un
        contador numerico a traves de varios botones, cada uno con una
        funcionalidad especifica: <br /><br />

        <span>"+":</span> el contador se incrementa en 1.
        <br />
        <span>"++":</span> el contador se incrementa en 10.
        <br />
        <span>"Reset":</span> el contador se restablece a 0.
        <br />
        <span>"Random":</span> el contador se incrementa o decrementa por un
        número aleatorio entre -20 y 20. <br />
        <span>"-":</span> el contador se decrementa en 1.
        <br />
        <span>"--":</span> el contador se decrementa en 10.
      </p>
    </div>
    <div class="project__component-demo">
      <app-counter />
    </div>
  </div>

  <div class="project__component-filter">
    <div class="project__component-description container">
      <h2 class="project__component-title">Filter</h2>
      <p class="project__component-text">
        Descripción: Este componente muestra una lista de tarjetas de Pokémon.
        El usuario puede filtrar la lista seleccionando un tipo de Pokémon en el
        selector en la parte superior. La lista se actualizará automáticamente
        para mostrar solo los Pokémon que tienen el tipo seleccionado.'
      </p>
    </div>
    <div class="project__component-demo"><app-filter></app-filter></div>
  </div>

  <div class="project__component">
    <div class="project__component-description container">
      <h2 class="project__component-title">Shooping Cart</h2>
      <p class="project__component-text">
        Descripción: Este componente muestra una lista de productos más el
        carrito de compras o shopping cart. Cuando el usuario aún no ha elegido
        ningún producto, el carrito muestra el mensaje de "No products", una vez
        el usuario empieza a agregar productos; se mostrará un resumen (nombre
        de producto, cantidad y subtotal) más el monto total.
      </p>
    </div>
    <div class="project__component-demo"><app-store></app-store></div>
  </div>
</div>
