.product-list-container{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  padding: var(--spacing-4) var(--spacing-2);

}

p{
  font-family: var(--text);
  font-weight: 700;
  font-size: var(--font-2xl);
  line-height: var(--leading-8);
}

.product-list{
  width: 572px;
  list-style-type: none;
  display: grid;
  gap: var(--spacing-4);
  grid-template-columns: 160px 160px 160px;
  column-gap: var(--spacing-4);
  justify-content: center;
}