.main__container-enlace {
  color: #6D28D9;
  font-family: var(--font-base);
  font-weight: 600;
  text-decoration: none;

}

.main__container > ul {
  
  margin-top: 20px;
  display: grid;
  gap: 8px;
  margin-left: 26px;
  
}

li::marker{
  color: #6D28D9;
}

.main__container-list {
  font-family: inter;
}